%noscript
    You need to enable JavaScript to run this app.
%div{id: 'root'}
= stylesheet_link_tag "app", "data-turbo-track": "reload"
= javascript_include_tag "app", "data-turbo-track": "reload", defer: true
